
    ﻿
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
@Styles.Render("~/Content/theme-bootstrap")
@Scripts.Render("~/bundles/modernizr")
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-info">
                        <i class="fa fa-fw fa-cog"></i>Administration
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("Index","AirportAdmin")" ><i class="fa fa-5x fa-fw fa-send text-success"></i></a>
                    <h3 class="text-center text-success">Airports</h3>
                    <p></p>
                    <p class="text-left">
                        Airport administration for the API. Add/Remove/Delete/List operations
                        are available in this section.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("Index","CarparkAdmin")"><i class="fa fa-5x fa-fw text-success -o fa-automobile"></i></a>
                    <h3 class="text-center text-success">Carparks</h3>
                    <p></p>
                    <p class="text-left">
                        Airport administration for the API. Add/Remove/Delete/List operations
                        are available in this section.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("Index","BookingAdmin")"><i class="fa fa-5x fa-fw text-success -o fa-barcode"></i></a>
                    <h3 class="text-center text-success">Bookings</h3>
                    <p></p>
                    <p class="text-left">
                        Booking administration for the API. Add/Remove/Delete/List as well as
                        booking refence operations are available in this section.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href="#"><i class="fa fa-5x fa-fw text-success -o fa-calendar"></i></a>
                    <h3 class="text-center text-success">Availability</h3>
                    <p></p>
                    <p class="text-left">
                        Availability administration for the API. Add/Remove/Delete/List as well
                        as availabily with price operations are available in this section.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("Index","PricingAdmin")"><i class="fa fa-5x fa-fw fa-table text-success"></i></a>
                    <h3 class="text-center text-success">Pricing Tables</h3>
                    <p></p>
                    <p class="text-left">
                        Pricing administration for the API. Add/Remove/Delete/List prices
                        operations based on tables for Carparks.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("Index","CarparkAdmin")"><i class="fa fa-5x fa-fw text-success -o fa-automobile"></i></a>
                    <h3 class="text-center text-success">Carparks</h3>
                    <p></p>
                    <p class="text-left">
                        Airport administration for the API. Add/Remove/Delete/List operations
                        are available in this section.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("Index","BookingAdmin")"><i class="fa fa-5x fa-fw text-success -o fa-barcode"></i></a>
                    <h3 class="text-center text-success">Bookings</h3>
                    <p></p>
                    <p class="text-left">
                        Booking administration for the API. Add/Remove/Delete/List as well as
                        booking refence operations are available in this section.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href="#"><i class="fa fa-5x fa-fw text-success -o fa-calendar"></i></a>
                    <h3 class="text-center text-success">Availability</h3>
                    <p></p>
                    <p class="text-left">
                        Availability administration for the API. Add/Remove/Delete/List as well
                        as availabily with price operations are available in this section.
                    </p>
                </div>
            </div>
        </div>
    </div>
