<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/theme-bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    @Html.ActionLink("NationalParkingServices", "Index", "Home", null, new { @class = "navbar-brand" })
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("API Information", "Index", "Help", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("API Administration", "Index", "APIAdministration", new { area = "" }, null)
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cover">
       
        <div class="cover-image" style="background-image:url(../../Images/carpark.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-inverse">NationalParkingServices API</h1>
                    <p class="text-inverse"><span class="label label-warning">v0.1.4 (23/04/2017)</span></p>
                    <br>
                    @RenderBody()
                    <br>
                    @Html.ActionLink("API Information", "Index", "Help", null, new { @class = "btn btn-lg btn-primary" })                    
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>