@model ACP.Business.Models.BookingPricingModel

@{
    //## Change it in the view
    ViewBag.actionIcon = "fa-table";

    //## Action, change it in the view
    ViewBag.actionLabel = "Edit";

    Layout = "~/Views/Shared/_ActionLayout.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="section">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-sm-2">
                   Season Details
                </div>
                <div class="form-group">
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-1">
                        @Html.Label("Season Start", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>



                    <div class="col-sm-2">
                        @Html.Label("Season End", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">1 Day</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 1).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 1).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">2 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 2).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 2).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">3 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 3).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 3).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">4 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 4).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 4).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">5 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 5).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 5).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">6 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 6).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 6).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">7 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 7).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 7).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">8 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 8).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 8).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">9 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 9).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 9).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">10 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 10).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 10).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">11 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 11).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 11).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">12 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 12).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 12).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">13 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 13).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 13).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">14 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 14).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 14).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">15 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 15).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 15).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">16 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 16).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 16).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">17 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 17).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 17).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">18 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 18).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 18).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">19 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 19).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 19).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">20 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 20).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 20).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">21 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 21).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 21).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">22 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 22).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 22).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">23 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 23).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 23).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">24 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 24).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 24).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">25 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 25).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 25).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">26 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 26).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 26).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">27 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 27).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 27).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">28 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 28).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 28).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">29 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 29).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 29).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">30 Days</button>
                                    <button class="btn btn-default" type="button">£</button>
                                </div>                                
                                <input type="number" value="@(Model.DayPrices.Where(x => x.Day == 30).FirstOrDefault() != null ? Model.DayPrices.Where(x => x.Day == 30).FirstOrDefault().Dayprice : 0)" min="0" step="0.01" stepfactor="100" class="form-control" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </p>
    </div>
}
