@model Web.Models.ResultsView
@{var emptyField = "Information no provided";}

<!-- + INFO Modal -->
<div class="modal fade" id="@Html.Raw("modal")@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>                
                <div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="modal-title tabs-heading" id="myModalLabel"><span class="subject">@Model.Company</span></h4>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <p class="lead">
                                @Model.Description
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <form role="form" class="tab-booking">
                                @Html.ActionLink(@Model.Price.ToString("c")+" Book now", "index", "booking", new { airportId = Model.Quote.Airport, discount = Model.Quote.Discount, dropoffDate = Model.Quote.DropOffDate, returnDate = Model.Quote.ReturnDate, price = Model.Price , bookingentityId = Model.Id }, new { @class = "btn" })
                            </form>
                        </div>
                    </div>
                </div>     

            </div>
            <div class="modal-body">

                <div class="info-tabs">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="@Html.Raw("#summary"+@Model.Id)" + aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
                        <li role="presentation"><a href="@Html.Raw("#full-info"+@Model.Id)" aria-controls="full-info" role="tab" data-toggle="tab">Full information</a></li>
                        <li role="presentation" ><a href="@Html.Raw("#map"+@Model.Id)" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
                        <li role="presentation"><a href="@Html.Raw("#reviews"+@Model.Id)" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="@Html.Raw("summary"+@Model.Id)">

                            <h2>Summary</h2>

                            <ul class="tab-summary-list">
                                <li><i class="fa fa-angle-double-right"></i>Hourly/Short-Duration Parking: <span>@Model.TransferTime</span></li>
                                <li><i class="fa fa-angle-double-right"></i>Daily Parking: <span>@Html.Raw(Model.IsRegularTransfers == true ? "Yes" : "No")</span></li>
                                <li><i class="fa fa-angle-double-right"></i>Free 30-Minute Parking: <span>No</span></li>
                                <li><i class="fa fa-angle-double-right"></i>No Overnight Parking Zones: <span>No</span></li>
                                <li><i class="fa fa-angle-double-right"></i>Holiday/Overflow Parking: <span>No</span></li>
                                <li><i class="fa fa-angle-double-right"></i>Parking Condominiums: <span>No</span></li>
                            </ul>

                        </div>
                        <div role="tabpanel" class="tab-pane full-info" id="@Html.Raw("full-info"+@Model.Id)">

                            <h2>Full information</h2>

                            <div class="text">

                                <p>
                                    <strong> Description</strong>
                                    @(String.IsNullOrEmpty(Model.Description) ? emptyField : Model.Description)
                                </p>

                                <p>
                                    <strong> Summary</strong>
                                    @(String.IsNullOrEmpty(Model.Summary) ? emptyField : Model.Summary)

                                </p>

                                <p>
                                    <strong>Notes </strong>
                                    @(String.IsNullOrEmpty(Model.FullString) ? emptyField : Model.FullString)
                                </p>    
                                <p>
                                    <strong>Important </strong>
                                    @(String.IsNullOrEmpty(Model.Important) ? emptyField : Model.Important)
                                </p>
                           
                            </div>


                        </div>
                        
                        <div role="tabpanel" class="tab-pane active" id="@Html.Raw("map"+@Model.Id)">
                            @{
                                var googleMapsAddress =  @Model.Address.Postcode;
                             }
                            @*<iframe width="600"
                                    height="450"
                                    frameborder="0"
                                    style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJD2KzY860e0gR3h2v3bLT5cM&key=AIzaSyBjOKVNJ4sQnOJ0EHiBqRSED3thEZjImrs"
                                    allowfullscreen></iframe>*@

                            <iframe width="600"
                                    height="450"
                                    frameborder="0"
                                    style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBjOKVNJ4sQnOJ0EHiBqRSED3thEZjImrs&q=SK74QW"
                                    allowfullscreen></iframe>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="@Html.Raw("reviews"+@Model.Id)">

                            <h2>Check the users reviews</h2>
                            
                            <div class="tab-rate-form" id="formulario-rate">
                                @foreach (var review in Model.Reviews)
                                {
                                    <span class="color2"><b>@review.ClientName:</b></span><br />
                                    <span class="color3"><label for="date" class="rate-date">@review.PublicationDate</label></span><br />
                                    <span><b>@review.Review</b></span>               
                                    <div class="rating-input">
                                        @{ for (int i = 1; i < 6; i++)
                                            {
                                                var emptystar = Convert.ToInt32(@review.Rating) < i ? "glyphicon-star-empty" : "";
                                                @Html.Raw("<i class='glyphicon glyphicon-star " + emptystar + "' data-value=" + i + @"></i>");
                                            }
                                        }
                                    </div>
                                    <hr>
                                }                                                               
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
