
@{
    Layout = "~/Views/Shared/_NPSLayout.cshtml";
}
@model Web.Models.BookingConfirmationView



<div class="container-fluid banner-img for-login">
    <div class="container">
        <div class="customer-login">
            <div class="">
                <div class="customer-login">
                    <div class="row returning-customer">
                        <label class="paid">Transaction completed </label>
                    </div>
                    <div class="row all-customer-details">
                        <div class="col-md-6 payment-received">
                            <h2>Thank you! Your payment has been received </h2>
                            <p>Your transaction has been completed, and a receipt for your booking has been emailed to you. </p>
                            <div class="">
                                <div class="row">
                                    <div class="col-md-6"><b>Reference:</b> <small>(You will need your payment reference as well)</small></div>
                                    <div class="col-md-6"><b>@Model.BookingReference</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Carpark:</div>
                                    <div class="col-md-6">@Model.CarParkName</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Return Drop Off Date:</div>
                                    <div class="col-md-6">@Model.DropOffDate</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Return Date:</div>
                                    <div class="col-md-6">@Model.ReturnDate</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">InboundFlight:</div>
                                    <div class="col-md-6">@Model.InboundFlight</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">OutboundFlight:</div>
                                    <div class="col-md-6">@Model.OutboundFlight</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Registration:</div>
                                    <div class="col-md-6">@Model.Registration</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Terminal In:</div>
                                    <div class="col-md-6">@Model.TerminalIn</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Does it have car whash service?</div>
                                    <div class="col-md-6">@{ if (Model.IsAddCarWashService)
                                        { @Html.Raw("Yes");
                                        }
                                        else
                                        { @Html.Raw("No");
                                        } }</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Cancelation servicee?</div>
                                    <div class="col-md-6">@{ if (Model.IsCancelationCover)
                                        { @Html.Raw("Yes");
                                        }
                                        else
                                        { @Html.Raw("No");
                                        } }</div>
                                </div>
                            </div>

                            <div class="row well">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <form action="https://secure-test.worldpay.com/wcc/purchase" method=POST>
                                        <!-- This next line contains the testMode parameter - it specifies that the submission is a test submission -->
                                        <input type="hidden" name="testMode" value="100">
                                        <!-- This next line contains a mandatory parameter. Put your Installation ID inside the quotes after value= -->
                                        <!-- You will need to get the installation ID from your Worldpay account. Login to your account, click setting and under installations
                                        you should have an option called select junior and a number, put the number between “" e.g. “123456"-->
                                        <input type="hidden" name="instId" value="1217260">
                                        <!-- Another mandatory parameter. Put your own reference identifier for the item purchased inside the quotes after value= -->
                                        <input type="hidden" name="cartId" value="@Model.BookingReference">
                                        <!-- Another mandatory parameter. Put the total cost of the item inside the quotes -->
                                        <input type="hidden" name="amount" value="@string.Format("{0:N}", @Model.Price)">
                                        <!-- Another mandatory parameter. Put the code for the purchase currency inside the quotes after value= -->
                                        <input type="hidden" name="currency" value="GBP">
                                        <!-- This creates the button. When it is selected in the browser, the form submits the purchase details to us. -->
                                        <input type="hidden" name="MC_callback" value="http://www.myserver.com/mycallbackscript.cgi">

                                        <input class="btn btn-lg btn-primary btn-block" type=submit value="Pay">
                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                         
                        </div>
                        <div class="col-md-6 even-more">
                            <div class="col-lg-8 col-md-8 col-sm-5 banner banner1">
                                <div class="mensaje">
                                    <span>GET EXCLUSIVE OFFERS</span>
                                    <a class="btn btn-primary btn-lg" href="#" role="button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                    

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/jquery-1.11.3.min.js"></script>



<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<script src="~/Scripts/bootstrap-rating-input.min.js"></script>


    <script src="~/Scripts/common.js"></script>


@Scripts.Render("~/bundles/jqueryval")


<script>
    $(document).ready(function () {

        $("#loginoption").click(function () {
            $(".guest").hide();
            $(".login").show();
        });

        $("#guestoption").click(function () {
            $(".guest").show();
            $(".login").hide();
        });
        $(".guestvalidationmsg").hide();
    });
</script>
