@model ACP.Business.Models.BookingEntityModel

@{
    //## Change it in the view
    ViewBag.actionIcon = "fa-automobile";

    //## Action, change it in the view
    ViewBag.actionLabel = "Delete";

    Layout = "~/Views/Shared/_ActionLayout.cshtml";

}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sameday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sameday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RootBookEntityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RootBookEntityId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Delete" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </p>
    }
</div>
