@model ACP.Business.Models.BookingEntityModel
@using ServiceAPI.Helpers

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id);
    @Html.HiddenFor(model => model.RootBookEntityId);
    @Html.HiddenFor(model => model.Code);

    <div class="section">
        <div class="container">
            @Html.AreaHeader(Areas.Carparks, Operation.Edit)
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="inputEmail3" class="control-label">Airport</label>
                            </div>
                            <div class="col-sm-10">
                                <select class="form-control" id="airport" name="airport">
                                    <option value="">-- Please Select --</option>
                                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.airportlist)
                                    {
                                        if (item.Value == Model.RootBookEntityId.ToString())
                                        {
                                            <option value=@item.Value selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value=@item.Value>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Manchester Airport", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: MAN", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: 10.2", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label class="control-label col-md-3" for="Comission">Comission(%)</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Comission, new { htmlAttributes = new { @class = "form-control", placeholder = "ie:10", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(model => model.Comission, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Sameday, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Sameday)
                                        @Html.ValidationMessageFor(model => model.Sameday, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <hr />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.Number, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: 3", type = "number" } })
                                    @Html.ValidationMessageFor(model => model.Address.Number, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Downning Street", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Address.Address1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = "", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Address.Address2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address.Postcode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Manchester", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.County, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.County, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Greater Manchester", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Address.County, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: UK", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.AreaSubmit(Areas.Carparks, Operation.Update)
        </div>
    </div>
}

