<!DOCTYPE html>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}

<html>
<head>
    <meta charset="UTF-8">
    <title>National Parking Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />    
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="@ViewBag.BodyType">
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">
            <div class="row">

                <div class="navbar-header col-lg-2 col-md-3 col-sm-3 col-xs-2 for-brand">
                    <a class="navbar-brand" href="#" title="National Parking Services">National Parking Services</a>
                </div>

                <div class="col-lg-10 col-md-9 col-sm-9 col-xs-10 for-navs">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="main-nav">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-7 for-menu-home">
                                <ul class="nav navbar-nav menu-home">
                                    <li class="active">@Html.ActionLink("About us", "About", "Carparks", new { title = "About National Parking Services" })</li>
                                    <li>@Html.ActionLink("FAQ", "Faq", "Carparks", new { title = "FAQ" })</li>
                                    <li>@Html.ActionLink("CONTACT US", "ContactUs", "Carparks", new { title = "Contact Us" })</li>
                                </ul>
                            </div>

                            <div class="col-lg-8 col-md-7 col-sm-5 for-client-login">
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <ul class="list-inline login-actions">
                                            <li> @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> </li>
                                        </ul>


                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right form-inline client-login", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                         <form class="navbar-form navbar-right form-inline client-login" role="search">
                                         <div class="form-group">
                                               <label class="sr-only" for="login" >Login</label>
                                               <input id="Email"  name="Email" placeholder="LOGIN" class="form-control" type="text">
                                          </div>
                                          <div class="form-group">
                                                <label class="sr-only" for="password">Password</label>
                                                <input id="Password" placeholder="PASSWORD" name="Password" class="form-control" type="password">
                                           </div>
                                           <button type="submit" class="btn ">OK</button>
                                           </form>
                                    }
                                    <ul class="list-inline login-actions">
                                        <li> @Html.ActionLink("New customer? Start here", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                                        <li> @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account") </li>
                                        @if (Session["error"] == (string)"Invalid login attempt.")
                                        {
                                            <li>
                                                @{Session["error"] = null;
                                                }
                                                <a href="#" style="color:red;">Invalid login attempt.</a>
                                            </li>
                                        } 
                                    </ul>
                                }
                                
                            </div>
                        </div><!-- .row -->
                    </div>
                </div>

            </div>
        </div>


    </nav>

    <div class="sombra">

        <div class="">

            @RenderBody()


            <div class="container-fluid for-logos">

                <div class="container">
                    <ul class="list-inline">
                        <li>
                            
                            <img src="~/img/manchester-airport.png" alt="Manchester airport" width="180" height="95">
                        </li>
                        <li>
                            <img src="~/img/liverpooljohn-airport.png" alt="Liverpool John Lennon airport" width="210" height="95">
                        </li>
                        <li>
                            <img src="~/img/birmingham-airport.png" alt="Birmingham airport" width="210" height="95">
                        </li>
                        <li>
                            <img src="~/img/bristol-airport.png" alt="Bristol airport" width="210" height="95">
                        </li>
                        <li>
                            <img src="~/img/london-airport.png" alt="London Stansted airport" width="210" height="95">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-lg-6">v0.0.6 - 09/04/2017</div>
        <div class="col-lg-4"></div>
    </div>    
</body>
</html>
