@model ACP.Business.Models.BookingModel


@{
    ViewBag.Title = "Create";
}


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-info">
                    <i class="fa fa-1x fa-fw fa-barcode text-success"></i>Create
                </h3>
            </div>
        </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form class="form-horizontal" role="form">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-success"><i class="fa fa-fw fa-calendar"></i>Booking Dates</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        @*<form class="form-horizontal" role="form">*@
                                        <div class="form-group">
                                            <div class="control-label col-md-2">
                                                <label class="control-label">Airport</label>
                                            </div>
                                            <div class="col-md-10">
                                                @Html.DropDownList("airport", (IEnumerable<SelectListItem>)ViewBag.airportlist, "-- Please Select --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control",  type = "date" } })
                                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*</form>*@
                                    </div>
                                    <div class="col-md-6">
                                        @*<form class="form-horizontal" role="form">*@
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*</form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="text-success"><i class="fa fa-fw fa-street-view"></i>Customer</h3>
                                @*<form class="form-horizontal" role="form">*@
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Dr.", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Initials, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Initials, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: S ", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Initials, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Forename, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Forename, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Michael", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Forename, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Smith", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Surname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "email", type = "email" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "mobile", type = "tel" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Telephone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telephone", type = "tel" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Telephone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Fax, new { htmlAttributes = new { @class = "form-control", placeholder = "Fax", type = "tel" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.Number, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: 3", type = "number" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Downing Street", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.Address1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.Address2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.City, new { htmlAttributes = new { @class = "form-control", placeholder = "", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.Postcode, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: SK7654Q", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.Postcode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.County, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.County, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Gerater Manchester", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.County, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Customer.Address.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Customer.Address.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: UK", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Address.Country, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*</form>*@
                            </div>
                            <div class="col-md-4">
                                <h3 class="text-success"><i class="fa fa-fw fa-car"></i>Travel details</h3>
                                @*<form class="form-horizontal" role="form">*@

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TravelDetails.OutboundDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.TravelDetails.OutboundDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Outbound Date", type = "date" } })
                                        @Html.ValidationMessageFor(model => model.TravelDetails.OutboundDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TravelDetails.OutboundFlight, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.TravelDetails.OutboundFlight, new { htmlAttributes = new { @class = "form-control", placeholder = "Outbound Flight", type = "date" } })
                                        @Html.ValidationMessageFor(model => model.TravelDetails.OutboundFlight, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TravelDetails.OutboundTerminal, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.TravelDetails.OutboundTerminal, new { htmlAttributes = new { @class = "form-control", placeholder = "Outbound Terminal", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.TravelDetails.OutboundTerminal, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TravelDetails.ReturnDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.TravelDetails.ReturnDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Return Date", type = "date" } })
                                        @Html.ValidationMessageFor(model => model.TravelDetails.ReturnDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TravelDetails.ReturnFlight, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.TravelDetails.ReturnFlight, new { htmlAttributes = new { @class = "form-control", placeholder = "Return Flight", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.TravelDetails.ReturnFlight, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TravelDetails.ReturnboundTerminal, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.TravelDetails.ReturnboundTerminal, new { htmlAttributes = new { @class = "form-control", placeholder = "Return Terminal", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.TravelDetails.ReturnboundTerminal, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                @*</form>*@
                            </div>
                            <div class="col-md-4">
                                <h3 class="text-success"><i class="fa fa-fw fa-credit-card"></i>Car details</h3>
                                @*<form class="form-horizontal" role="form">*@
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Car.Make, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Car.Make, new { htmlAttributes = new { @class = "form-control", placeholder = "ie Bentley", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Car.Make, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Car.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Car.Model, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: GT", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Car.Model, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Car.Colour, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Car.Colour, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Red", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Car.Colour, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Car.Registration, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Car.Registration, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: A3456DF", type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Car.Registration, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*</form>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-success"><i class="fa fa-fw fa-credit-card"></i>Payments</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        @*<form class="form-horizontal" role="form">*@
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label for="inputEmail3" class="control-label">Payment Type</label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("paymenttype", (IEnumerable<SelectListItem>)ViewBag.paymenttype, "-- Please Select --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*</form>*@
                                    </div>
                                    <div class="col-md-8">
                                        @*<form class="form-horizontal" role="form">*@
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label for="currency" class="control-label">Currency</label>
                                            </div>
                                            <div class="col-sm-10">
                                                @Html.DropDownList("currency", (IEnumerable<SelectListItem>)ViewBag.currency, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div id="bankdetails">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label for="baname" class="control-label">Name</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="baname" placeholder="Bank Account Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label for="banumber" class="control-label">Number</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="number" class="form-control" name="banumber" placeholder="Bank Account Number">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label for="baname" class="control-label">Bank Name</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="babankname" id="babankname" placeholder="Bank Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label for="basortcode" class="control-label">Sort Code</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="number" class="form-control" name="basortcode" placeholder="Sort Code">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="creditcard">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputEmail3" class="control-label">Credit Card</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    @Html.DropDownList("ccardtype", (IEnumerable<SelectListItem>)ViewBag.cctype, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputEmail3" class="control-label">Number</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" name="ccnumber" placeholder="Credit Card Number">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputPassword3" class="control-label">Name</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="ccname" placeholder="Credit Card Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputPassword3" class="control-label">CSV</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" name="cccsv" placeholder="CSV">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputPassword3" class="control-label">Expiry Date</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="ccexpirydate" placeholder="ie: 01/01/2017">
                                                </div>
                                            </div>
                                        </div>
                                        @*</form>*@
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>       
                <p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                                <input type="submit" value="Create" class="btn btn-success" />                            
                            </div>
                        </div>
                    </div>

                </p>
            </form>
        </div>
    }
</div>
</div>
        <script>
            $("#bankdetails").hide();
            $("#creditcard").hide();
            $("#paymenttype").change(function () {
                $("#paymenttype option:selected").each(function () {
                    var str = "";
                    str += $(this).text();
                    if (str === "Credit Card") {
                        $("#bankdetails").hide();
                        $("#creditcard").show();
                    }
                    else {
                        $("#bankdetails").show();
                        $("#creditcard").hide();
                    }

                });
            });

          

        </script>
