@model ACP.Business.Models.BookingModel
@using ServiceAPI.Helpers

@{
    ViewBag.Title = "Create";
}


<div class="section">
    <div class="container">
        @Html.AreaHeader(Areas.Bookings, Operation.Create)
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="well">

                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-success"><i class="fa fa-fw fa-calendar"></i>Booking Dates</h3>

                        <div role="form">
                            <div class="form-group">
                                <label>
                                    Airport
                                </label>

                                @Html.DropDownList("airport", (IEnumerable<SelectListItem>)ViewBag.airportlist, "-- Please Select --", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Start Date
                                </label>
                                @Html.TextBoxFor(model => model.StartDate, "{0:s}", new { @class = "form-control", placeholder = "OpeningDoor", type = "datetime-local", @Value = @DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss") })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    End Date
                                </label>
                                @Html.TextBoxFor(model => model.EndDate, "{0:s}", new { @class = "form-control", placeholder = "OpeningDoor", type = "datetime-local", @Value = @DateTime.Now.AddDays(1).ToString("yyyy-MM-ddTHH:mm:ss") })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Status
                                </label>
                                @Html.DropDownList("airport", (IEnumerable<SelectListItem>)ViewBag.statuses, "-- Please Select --", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Message
                                </label>
                                <textarea class="form-control" style="min-width: 100%" id="Message" Name="Message" rows="5"></textarea>
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-success"><i class="fa fa-fw fa-car"></i>Travel details</h3>
                        <div role="form">
                            <div class="form-group">
                                <label>
                                    OutboundDate
                                </label>
                                @Html.TextBoxFor(model => model.TravelDetails.OutboundDate, "{0:s}", new { @class = "form-control", placeholder = "OpeningDoor", type = "datetime-local", @Value = @DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss") })
                                @Html.ValidationMessageFor(model => model.TravelDetails.OutboundDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Outbound Flight
                                </label>
                                @Html.EditorFor(model => model.TravelDetails.OutboundFlight, new { htmlAttributes = new { @class = "form-control", placeholder = "Outbound Flight", type = "text" } })
                                @Html.ValidationMessageFor(model => model.TravelDetails.OutboundFlight, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Outbound Terminal
                                </label>
                                @Html.EditorFor(model => model.TravelDetails.OutboundTerminal, new { htmlAttributes = new { @class = "form-control", placeholder = "Outbound Terminal", type = "text" } })
                                @Html.ValidationMessageFor(model => model.TravelDetails.OutboundTerminal, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Return Date
                                </label>
                                @Html.TextBoxFor(model => model.TravelDetails.ReturnDate, "{0:s}", new { @class = "form-control", placeholder = "OpeningDoor", type = "datetime-local", @Value = @DateTime.Now.AddDays(1).ToString("yyyy-MM-ddTHH:mm:ss") })
                                @Html.ValidationMessageFor(model => model.TravelDetails.ReturnDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Return Flight
                                </label>
                                @Html.EditorFor(model => model.TravelDetails.ReturnFlight, new { htmlAttributes = new { @class = "form-control", placeholder = "Return Flight", type = "text" } })
                                @Html.ValidationMessageFor(model => model.TravelDetails.ReturnFlight, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>
                                    Returnbound Terminal
                                </label>
                                @Html.EditorFor(model => model.TravelDetails.ReturnboundTerminal, new { htmlAttributes = new { @class = "form-control", placeholder = "Return Flight", type = "text" } })
                                @Html.ValidationMessageFor(model => model.TravelDetails.ReturnboundTerminal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-success"><i class="fa fa-fw fa-credit-card"></i>Car details</h3>
                        <div role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Make
                                </label>
                                @Html.EditorFor(model => model.Car.Make, new { htmlAttributes = new { @class = "form-control", placeholder = "ie Bentley", type = "text" } })
                                @Html.ValidationMessageFor(model => model.Car.Make, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Model
                                </label>
                                @Html.EditorFor(model => model.Car.Model, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: GT", type = "text" } })
                                @Html.ValidationMessageFor(model => model.Car.Model, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Colour
                                </label>
                                @Html.EditorFor(model => model.Car.Colour, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: Red", type = "text" } })
                                @Html.ValidationMessageFor(model => model.Car.Colour, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Registration
                                </label>
                                @Html.EditorFor(model => model.Car.Registration, new { htmlAttributes = new { @class = "form-control", placeholder = "ie: A3456DF", type = "text" } })
                                @Html.ValidationMessageFor(model => model.Car.Registration, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="well">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="text-success"><i class="fa fa-fw fa-credit-card"></i>Payments</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form">
                            <div class="form-group">
                                <label class="control-label">Payment Type</label>
                                @Html.DropDownList("paymenttype", (IEnumerable<SelectListItem>)ViewBag.paymenttype, "-- Please Select --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Currency</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("currency", (IEnumerable<SelectListItem>)ViewBag.currency, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div id="bankdetails">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Bank Account Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="baname" placeholder="Bank Account Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="banumber" placeholder="Bank Account Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Bank Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="babankname" id="babankname" placeholder="Bank Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Sort Code</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="basortcode" placeholder="Sort Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="creditcard">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Credit Card</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownList("ccardtype", (IEnumerable<SelectListItem>)ViewBag.cctype, "-- Please Select --", new { @class = "form-control" })
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Number</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="ccnumber" placeholder="Credit Card Number" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="ccname" placeholder="Credit Card Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">CSV</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="cccsv" placeholder="CSV" maxlength="3">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Expiry Date</label>
                                    <div class="col-sm-10">
                                            <input type="date" class="form-control" name="ccexpirydate" placeholder="ie: 01/01/2017" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.AreaSubmit(Areas.Bookings, Operation.Create)
        }
    </div>
</div>
<script>
    $("#bankdetails").hide();
    $("#creditcard").hide();
    $("#paymenttype").change(function () {
        $("#paymenttype option:selected").each(function () {
            var str = "";
            str += $(this).text();
            if (str === "Credit Card") {
                $("#bankdetails").hide();
                $("#creditcard").show();
            }
            else {
                $("#bankdetails").show();
                $("#creditcard").hide();
            }

        });
    });



</script>
